

.bar{
    background-color: lightgrey;
    padding: 10px;
    transition: all .2s ease;
    height: 9rem;
    overflow: hidden;
  }
  .logo {
    font-size: 20px;
    text-transform: capitalize;
    display:flex;
    justify-content: space-between;
  }
  .links {
    /* display: none; */
  }
  .links a {
    display: block;
  }

  .closed {
    height: 3rem;
    overflow: hidden;
    transition: all 1s ease;
  }

  .burger {
    border-radius: 5px;
  
  }

  @media (min-width: 992px) {
    .burger {
      display: none;
    }
    .logo{
        display: inline;
    }
    .links {
        display: inline;
    }
    .links a {
        display: inline;
      }
  }