

.mobile {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    display: none;
}

.square{
   
    height: 100px;
    background-color: red;
}
.square:nth-child(odd){
    background-color: blue;
}

.btn-primary {
    background-color: #e600ff !important;
}

.p-5{
    padding: 210px !important;
}
.p-4{
    padding: 160px !important;
}


@media(max-width: 600px) { /* below */
    body {
        background-color: red;
    }
    .desktop {
        display: none;
    }
}

@media(min-width: 600px) { /* above */
    body {
        background-color: blue;
    }
    .mobile{
        display: none;
    }
    .colorful {
        animation: colorize 5s infinite;
        padding: 20px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {  /* range */
    body {
        background-color: green;
        font-size: clamp(1rem, 2vw, 2rem);
    }
}

@keyframes colorize {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}
    
